# MedAgent - Variables d'environnement
#Copiez ce fichier : cp .env.example .env

#Base de données PostgreSQL
POSTGRES_USER=votre_utilisateur
POSTGRES_PASSWORD=votre_mot_de_passe_securise
POSTGRES_DB=medagentdb

# Connexion LLM (Ollama
OLLAMA_BASE_URL=http://host.docker.internal:11434

#Sécurité API
API_KEY=votre_cle_api_secrete

#Limites et quotas
MAX_TOKENS_PER_REQUEST=500
MAX_REQUESTS_PER_MINUTE=20